:root {
  --radius: 91;
  --PI: 3.14159265358979;
  --circumference: calc(var(--PI) * var(--radius) * 2px)
}

.circle-svg {
  background: transparent;
}
.circle-svg circle {
  stroke: #0060D9;
  stroke-width: 8;
  fill: transparent;
  transform-origin: center;
  stroke-dasharray: var(--circumference);
  animation: spinner 2500ms ease-out infinite;
}

@keyframes spinner {
  from {
    stroke-dashoffset: var(--circumference);
    stroke: #0060D9;
    transform: rotateZ(0deg)
  }
  to {
    stroke-dashoffset: calc(var(--circumference) * -1);
    stroke: #0060D9;
    transform: rotateZ(720deg)
  }
}