@tailwind base;
@tailwind components;
@tailwind utilities;

.notification-section {

}

.user-profile-section {
    padding: 5px 10px;
    margin-left: 30px;
    gap: 6px;
}
.profile-user-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.history-content {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 25px;
    display: flex;
}
.history-item {
    padding: 10px;
    border-bottom: 1px solid #2F2D3B;
    gap: 10px;
}
.history-item-icon {
    width: 36px;
    height: 36px;
    border-radius: 4px;
}
.history-item-text {
    font-weight: 400;
    color: white;
    font-size: 14px;
    line-height: 17.5px;
}
.parent-navlink:hover .nav-border {
    background-color:  #0060D9; 
}
.parent-navlink-active .nav-border {
    background-color:  #0060D9; 
}